nav.nav.nav-tabs
    h2 Current Project Name
    a.nav-item.nav-link(href="#") Project Settings
    a.nav-item.nav-link.active(href="#") Individuals
    a.nav-item.nav-link(href="#") Teams
    a.nav-item.nav-link(href="#") Organization
    