div.col-12.col-md-3.col-xl-2
    p Current Projects
    ul
        li
            a(href="#") Alpha Inc.
        li
            a(href="#") Beta Corp.
        li   
            a(href="#") Gamma Group
    hr
    p Archive
    ul
        li
            a(href="#") Microsoft
        li
            a(href="#") Apple
        li
            a(href="#") Google