header.top-nav.navbar.navbar-expand.flex-column.flex-md-row.navbar-dark
    a.navbar-brand(href="#", target="_blank")
        img.header-img(src="https://www.friendshipcircle.org/wp-content/uploads/2016/09/fake-logo.png")
        |   Sample Dashboard
    div.navbar-nav-scroll
        ul.navbar-nav.flex-row
            li.nav-item
                a.nav-link(href="#") Home
            li.nav-item
                a.nav-link(href="#") Documentation
            li.nav-item
                a.nav-link(href="#") Examples
            li.nav-item
                a.nav-link(href="#") Themes
            li.nav-item
                a.nav-link(href="#") Expo
            li.nav-item
                a.nav-link(href="#") Blog
        
    ul.navbar-nav.flex-row.ml-md-auto.d-none.d-md-flex
        li.nav-item.dropdown
            a.nav-item.nav-link.dropdown-toggle.mr-md-2(
                href="#",
                data-toggle="dropdown",
                aria-haspopup="true",
                aria-expanded="false") Dropdown
            div.dropdown-menu.dropdown-menu-right
                a.dropdown-item(href="#") Link 1
                a.dropdown-item(href="#") Link 2
                a.dropdown-item(href="#") Link 3
                div.dropdown-divider
                a.dropdown-item(href="#") Link 4
    