doctype html
http(lang="en")
    head
        include includes/header_info.pug
        title IO Demo
    body
        include includes/top_nav.pug
        
        div.container-fluid
            div.row.flex-xl-nowrap
            
                // Sidebar navigation
                include includes/sidebar.pug
                
                // Main content area
                div.main-content.col-xs-12.col-sm-12.col-md-12.col-lg-10
                
                    //Main content top tabs
                    include includes/main-content-tabs.pug
                    
                    //Main content
                    block content
    
    footer
        include includes/footer.pug

        
