<!DOCTYPE html>

<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- CSS customizations -->
    <link rel="stylesheet" href="style.css">

    <!-- Site title -->
    <title>Hello, world!</title>
    
  </head>
  <body>
  
  <header>
    <h1>Header</h1>
  </header>
  
  <!-- Begin page content -->
  <main role="main" class="container-fluid">

    <div class="row">
      <!-- Sidebar navigation -->
      <div class="sidebar col-xs-12 col-sm-12 col-md-12 col-lg-2">
        <h2>Sidebar</h2>
      </div>
      
      <div class="main-content col-xs-12 col-sm-12 col-md-12 col-lg-10">
        <h2>Main content</h2>
        <p>Sample paragraph content</p>
      </div>
    
    </div>
  
  </main>
  
  <footer>
    <h2>Footer</h2>
  </footer>

  
  
  
    
  
  
  <!-- Required Bootstrap JS files -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>

