doctype html
http(lang="en")
    head
        include includes/header_info.pug
        title IO Demo
    body
        include includes/top_nav.pug
        
        div.container-fluid
            div.row.flex-xl-nowrap
                include includes/sidebar.pug
                
                
                    
                div.main-content.col-xs-12.col-sm-12.col-md-12.col-lg-10
                    //include includes/sidebar.pug
                    block content
    
    footer
        include includes/footer.pug

        
