html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: rgba(0,51,117,.9);
  min-height: 50px;
  height: 10vh;
}

  header img {
    padding: 5px;
  }

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

footer {
 height: 5vh;
 min-height: 20px;
 color: #fff;
 background: rgba(0,51,117,.9);
 border-top: 1px solid #ccc;
}

.sidebar {
  background: #fff;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.main-content {
  background: #fff;
  height: 85vh;
  border-top: 1px solid #ccc;
}
